@import "https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,700|Cutive+Mono"

brand-color = #FFA86B

*
  box-sizing border-box


body
  font-family "Work Sans", monospace
  font-weight 400
  background #f2f2f2

.logo 
  height 100px
  display inline-block
  text-decoration none
  border none

.logo img
  height 100px

header
  text-align center

label
  color brand-color


a[href^="http://"]:not([href*="conlin.xyz"]):before,
a[href^="https://"]:not([href*="conlin.xyz"]):before
  content: "⌲ " 

.blink
  animation blink-animation 1s steps(5, start) infinite
  -webkit-animation blink-animation 1s steps(5, start) infinite

@keyframes blink-animation 
  to 
    visibility: hidden;

@-webkit-keyframes blink-animation
  to
    visibility: hidden;

.content
  max-width:960px;
  margin 0 auto

h1, h2, h3, h4, h5, h6
  color brand-color
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;

.sideBySide
  margin:5% 10%;
  height:400px;

.sideBySide > * 
  max-width:47%;
  float:left;

.sideBySide h2 
  font-size:70px;

.services, .listOfFacts
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  list-style:none;
  margin:0;
  height:100%;

.social
  list-style none
  margin 0 2%
  padding 0


.icon
  height 25px 
  display inline-block
  vertical-align middle

.services li, .listOfFacts li
  padding:1% 2%;
  width:100%;
  font-size:1.5em;
  font-weight: 100;

.social li a
  font-weight:200;
  border-color: #fff;
  padding-bottom:2px;

.center
  text-align:center;

.clearfix
  clear:both;

a
  text-decoration none
  border-bottom 1px solid brand-color
  color brand-color

.clickable
  border-bottom 1px solid brand-color
  color brand-color
  cursor pointer
  margin-right 0.5em

.todisplay
  display:none;

footer
  background #fff
  position fixed
  bottom 0
  left 0
  width 100%
  padding 2% 5%
  box-shadow -5px 0 10px rgba(0,0,0,0.22)
  > *
    &:first-child
      float left
    &:last-child
      float right
    vertical-align middle
    display inline-block
    margin 0 5%

.p
  max-height 90%
  height 100%

.page
  padding 2% 5%

.mobileOverlay
  display none

@media only screen and (min-width: 320px) and (max-width: 479px)
  .mobileOverlay
    display: block;
    position: fixed;
    overflow: scroll;
    left: 0;
    padding:2% 5%;
    top: 0;
    background: #fff;
    height: 100%;
    width: 100%;
    text-align:center;

.ascii
  font-size 5px
  color brand-color
  font-weight bold
  pointer-events none

.profile
  height:100px;
  width:100px;
  float:left;
  margin:2%;

.rotate
  animation:spin 10s linear infinite;

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
