@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

* {
  box-sizing:border-box;
}

html, body {
  font-family:Roboto;
  font-weight:300;
  margin:0;
  padding:0;
  color:#222;
}

.wrap {
  width:960px;
  margin:0 auto;
  padding:1% 2%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:400;
}

.site-header {
  margin:2% 0;
  h3 {
    display:inline-block;
    vertical-align:middle;
  }
  .logo {
    width:50px;
    display:inline-block;
    vertical-align:middle;
  }
}

ul {
  li {
    margin:1% 0;
  }
}

a {
  color:#72C5CC;
  text-decoration:none;
  &:visited {
    color:#222;
  }
}

.post-meta {
  float:right;
}
